<template>
  <div id="app">
    <h2>Fipe Chart App</h2>
    <hr>
  </div>
</template>

<script>
export default {
  name: "Header"
}
</script>

<style scoped>
h2 {
  background: #2c3e50;
  color: #ffffff;
  font-size: 32px;
}
</style>
